
form{
    margin: 100px;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;

}

input{
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submitData{
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #712eb2;
    color: white;
}

#submitData:hover{
    background-color: #0a2d62;
}